@import 'tailwindcss';
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@layer utilities {
    .primary-btn {
        @apply bg-orange-600 hover:bg-orange-700 text-white px-6 py-3 rounded-lg font-semibold transition
    }
    .secondary-btn {
        @apply border border-orange-600 text-orange-600 hover:bg-orange-100 px-6 py-3 rounded-lg font-semibold transition
    }
}